@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container-header{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 10rem 0rem 6rem;
    font-weight: 700;
}

.container-header .caja1{
    font-size: 17x;    
}

.container-header a{
    font-size: 10px;
}

.container-header .boton-join{
    align-items: center;
    border-radius: 4%;
    font-size: 12px;
    margin: 0rem 0rem 0rem 2rem;
    padding: 1rem 2.5rem 1rem 1.5rem;
}

a{
    text-decoration: none;
    color: #96BB7C; 
}


.container-principal{
    display: flex;
    background-color: #DDF4FF;
    flex-wrap: nowrap;
    justify-content: space-between;
}

h1{
    font-size: 50px;
}

.logros{
    margin: 10rem 5rem 2rem 6rem;
}

h4{
    
    margin: 1rem 0rem;
    color: #737373;
}

h5{
    
    margin: 1rem 0rem;
    color: #96BB7C;
}

.panel-derecho{
    display: flex;
    flex-direction: column;
}

.servicios{
    display: flex;
    justify-content:flex-start;
    gap: 2%; 
    margin: 0rem 0rem 0rem 6rem;
}

.boton-join , .cotizacion{
    background-color:  #96BB7C;
    color: #FFFFFF;
    font-size: 11px;
    padding: 10px 35px;
}

.masinformacion{
    background-color: transparent;
    border-style:solid;
    color: #96BB7C;
    font-size: 11px; 
    padding: 10px 35px;    
}

.container-principal img {
    width: 100%;
    height: 550px;
     object-fit: cover;
    object-position: bottom;
}

.container-indicadores{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    justify-content: space-between;
    margin: 2rem 8rem;
}


.caja-2 h2{
    color: #96BB7C;
    text-align: center;
}
   

.caja-2 h5{
    color:#252B42;
}

.container-cursos{
   background-color:#FFF2F3;
   padding: 5rem 0rem; 
}

.panel-inferior-cursos{
    display: flex;
    margin: 2rem 9rem;  
    flex-wrap: wrap;
}

.container-accesos-cursos{
    background-color:#FFF2F3;
    display: flex;
    justify-content: space-between;
    margin: 2rem 8rem;
}




.caja7 ,.caja8 ,.caja9{
    background-color: #FFFFFF;
    width: 100%;
    margin: 0rem 0.5rem;
    padding: 2rem;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 7rem;


    padding: 2rem;
      justify-content: space-between;
}

footer 

.caja-1 img{
   
    margin: 0rem 1rem;     
}

.caja-2 img{
    gap: 10%;
    /* margin: 2rem 12rem;  */
}





