@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0rem 10rem 0rem 6rem;
    padding: 1rem 1rem;
    font-weight: 700;
}

.panel-derecho-header{
    display: flex;
    flex-direction: row;
    gap: 0rem 1rem;
    flex-wrap: wrap;
}

.login , .boton-unete{
    margin: 0.3rem 0rem;
    font-size: 10px; 
}

.login a{
    text-decoration: none;
    color: #96BB7C; 
}

.boton-join{
    background-color:  #96BB7C;
    color: #FFFFFF;
    font-size: 10px;
    border-radius: 4%;
    padding: 1rem 1rem 1rem 0.5rem;
} 

.container-principal{
    display: flex;
    background-color: #DDF4FF;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-principal img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
  }

.logros{
    margin: 10rem 5rem 2rem 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h4  {   
    margin: 1rem 0rem;
    color: #737373;
}

a{
    text-decoration: none;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    flex-direction: row;
    gap: 2%; 
    /* padding:2rem 0rem; */
    margin: 0rem 1rem 1rem 6rem;
}

.caja-cotizacion , .caja-masinfo{
    margin: 1rem 0rem;
}

.cotizacion{
    background-color:  #96BB7C;
    color: #FFFFFF;
    font-size: 11px;
    padding: 10px 35px;
}

.masinformacion{
    background-color: transparent;
    border-style:solid;
    color: #96BB7C;
    font-size: 11px; 
    padding: 10px 35px;   
}

.container-indicadores{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    justify-content: space-between;
    margin: 2rem 8rem;
}

.caja-2 h2  {
    color: #96BB7C;
    text-align: center;
}


.caja-2 h5  {
    color:#252B42;
}

.container-cursos{
   background-color:#FFF2F3;
   /* justify-content: space-between; */
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 5rem 0rem; 
}

.panel-superior-cursos{
    margin: 2rem 8rem;   
}

.container-accesos-cursos{
    background-color:#FFF2F3;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin: 2rem 6rem 0rem 6rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.caja7 , .caja8 , .caja9{
    background-color: #FFFFFF;
    margin: 0.2rem 0.2rem;
    padding: 1rem;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0rem 7rem;
    padding: 2rem; 
}

.caja-1 img {
   
    margin: 0rem 1rem;     
}

.caja-2 img {
    gap: 10%;
}





